[submodule "template"]
	path = template
	url = https://github.com/EDDI-RobotAcademy/eddi_socket_client_boiler_plate.git
	branch = main
[submodule "si_agent"]
	path = si_agent
	url = https://github.com/EDDI-RobotAcademy/ChatDev
	branch = main
[submodule "made_dev_example_for_llama"]
	path = made_dev_example_for_llama
	url = https://github.com/onebottlekick/made_dev_example_for_llama.git
